.header {
  height: 60px;
  background-color: #eee;
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header.header__title {
  flex-basis: 30vw;
}

